#NavBar{
  border: 3px solid hsla(0, 0%, 80%,0.75);
  display: flex;
  flex: 1;
  box-shadow: 2px 2px 3px hsla(0, 0%, 80%,0.75);
  background-color: hsl(0, 0%, 80%);
  justify-content: left;
  align-items: left;
}
